*{
    margin: 0; 
    padding: 0;
}


.my-nav{
    position: relative;
       top:20px;
       width: 100%;
       z-index: 999;
       background:none;
       border: none;
       border-radius: 0;
       padding-left: 15%;
     
 }
 
.my-nav {
  background-color:rgba(0,0,0,0.00);
  border-color: rgba(0,0,0,0.00);
}
.my-nav .navbar-brand {
  color: #ecf0f1;
}
.my-nav .navbar-brand:hover,
.my-nav .navbar-brand:focus {
  color: #ecdbff;
}
.my-nav .navbar-text {
  color: #ecf0f1;
}
.my-nav .navbar-nav > li > a {
  color: #ffffff;
}
.my-nav .navbar-nav > li > a:hover,
.my-nav .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.my-nav .navbar-nav > .active > a,
.my-nav .navbar-nav > .active > a:hover,
.my-nav .navbar-nav > .active > a:focus {
  color: #fdfdfd;
  background-color: #3962ff;
  border-radius: 50px;
  border-color: #88dddd;
  
}
.my-nav .navbar-nav > .open > a,
.my-nav .navbar-nav > .open > a:hover,
.my-nav .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #3962ff;
}
.my-nav .navbar-toggle {
  border-color: #3962ff;
  
}
.my-nav .navbar-toggle:hover,
.my-nav .navbar-toggle:focus {
  background-color: #3962ff;

}
.my-nav .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.my-nav .navbar-collapse,
.my-nav .navbar-form {
  border-color: #ecf0f1;
}
.my-nav .navbar-link {
  color: #ecf0f1;
}
.my-nav .navbar-link:hover {
  color: #ecdbff;
}
 
@media (max-width: 767px) {
  .my-nav .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .my-nav .navbar-nav .open .dropdown-menu > li > a:hover,
  .my-nav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .my-nav .navbar-nav .open .dropdown-menu > .active > a,
  .my-nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .my-nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #3962ff;
  }
}
 
/*for full screen landing page*/
html,body{margin: 0;padding: 0; width: 100%; height: 100%;}
 
.wrapper{
    top:-100px;
    position: relative;
    width: 100%;
      height: 100%;
      background-image: linear-gradient(to right,#223344, #556677,#223344  );
    /*background: url(../img/banner1.png);*/
    display: table;
    background-size: cover;
}
.wrapper .inner{
     
    display: table-cell;
    vertical-align: middle;
    widows: 100%;
    max-width: none;
}
.content{
    text-align: left;
    max-width: 7000px;
    margin: 0 auto;
}
 
.content h1{
    color: #ffffff;
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif"; 
    text-shadow: 0 0 300px #000;
    font-size: 300%;
    margin-top: 10px;
     
 }

 .content h2{
    color: #ffffff;
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif"; 
    text-shadow: 0 0 300px #000;
    font-size: 300%;
    margin-top: 40px;
     
 }
.content h3{
    color: aliceblue;
    font-size: 20px; 
    font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif"; 
    margin: 20px 0;
}
 
.thumbnail{
    border: none;
}

 
 
 
 
@media only screen and (max-width: 767px) {
    .my-carousel{position: relative;
            top:0px;
                  
}
     
    .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}
     
    .navbar .navbar-brand {
  color: white;
}
    .navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color:wheat;
}
    .my-nav{top:0;}
    .navbar{margin-bottom: 0;}
     
.navbar-default .navbar-nav > li > a{color: black;}   /*link color change*/
     
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:#000000;
    color: #fffff0;
}/*change link color*/
 
     .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: black;
    color:#ffffff;
  }/*change dropdown link color*/
    .navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}/*icon bar color*/
    .thumbnail{text-align: center;}
     
}
 
.my-carousel {top:-70px}



.btn {
    border-radius: 50px;
    background-image: linear-gradient(to right,#227799 ,  #0099cc , #88dddd );
    color: white;
    height: 50px;
    font: 12px;
}



.botoes .btn{
    border-radius: 50px;
    color: white;
    background: transparent;
    border-color: white;
}



.botao {
    padding: 10px;
}

.botao a {  
    font: bold 12px/24px arial, helvetica, sans-aerif;	
    padding:2px;
    text-decoration: none;
    text-align:center;	
    color: white;
    background-image: linear-gradient(to right,#227799 ,  #0099cc , #88dddd );
     no-repeat center center;	
    width:140px;  
    height:30px;	
    display:block;
    border-radius: 20px;
    	
    }


    .botoes a {
        padding: 10px;
    }

    .botoes .btn-info{
        background-image: linear-gradient(to right,#227799 ,  #0099cc , #88dddd );
        border-color: transparent;
    }


    /*Barra de progresso */


    .progress-bar{
        background-image: linear-gradient(to right,#227799 ,  #0099cc , #88dddd );
        
    }

    .progress-80{
        height: 15px;
        background-color: #e5e4e2;
        position: relative;
    }
    
    .progress-80 .progress-bar{
       position: absolute;
       height: 95%;
       background-color: #add555;
       animation: progress-animation 6s infinite;
    }
    
    @keyframes progress-animation{
        0% { width: 0%; }
        100% { width: 80%}
    }

    .progress-70{
        height: 15px;
        background-color: #e5e4e2;
        position: relative;
    }
    
    .progress-70 .progress-bar{
       position: absolute;
       height: 95%;
       background-color: #add555;
       animation: progress-animation2 6s infinite;
    }
    
    @keyframes progress-animation2{
        0% { width: 0%; }
        100% { width: 70%}
    }

    .progress-95{
        height: 15px;
        background-color: #e5e4e2;
        position: relative;
    }
    
    .progress-95 .progress-bar{
       position: absolute;
       height: 95%;
       background-color: #add555;
       animation: progress-animation3 6s infinite;
    }
    
    @keyframes progress-animation3{
        0% { width: 0%; }
        100% { width: 95%}
    }

    .progress-72{
        height: 15px;
        background-color: #e5e4e2;
        position: relative;
    }
    
    .progress-72 .progress-bar{
       position: absolute;
       height: 95%;
       background-color: #add555;
       animation: progress-animation4 6s infinite;
    }
    
    @keyframes progress-animation4{
        0% { width: 0%; }
        100% { width: 72%}
    }

    .imagem-aparelho img{
        max-width: 100%;
    }

    h2{
        color: #227799;
    }

    h1 {
        color: #227799;
    }

       
    /* Como funciona */
       
    .index-content a:hover{
        color:black;
        text-decoration:none;
    }
    .index-content{
        margin-bottom:20px;
        padding:50px 0px;
        
    }
    .index-content .row{
        margin-top:20px;
    }
    .index-content a{
        color: black;
    }
    .index-content .card{
        background-color: #FFFFFF;
        padding:0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius:4px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    
    }
    .index-content .card:hover{
        box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
        color:black;
    }
    .index-content .card img{
        width:100%;
        width:200px;
		height:200px;
        border-radius:50%;
        align-items: center;
        
       
    }
    .index-content .card h4{
        margin:20px;
        text-align: center;
    }
    .index-content .card p{
        margin:20px;
        opacity: 0.65;
    }

    .index-content .card h5{
        text-align: center;
    }
    .index-content .blue-button{
        width: 200px;
        -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
        transition: background-color 1s , color 1s;
        min-height: 20px;
        background-image: linear-gradient(to right,#227799 ,  #0099cc , #88dddd );
        color: #ffffff;
        border-radius: 20px;
        text-align: center;
        font-weight: lighter;
        margin: 0px 20px 15px 20px;
        padding: 5px 0px;
        display: inline-block;
        
    }
    .index-content .blue-button:hover{
        background-color: #dadada;
        color: #002E5B;
    }
    @media (max-width: 768px) {
    
        .index-content .col-lg-4 {
            margin-top: 20px;
        }
    }

    /* footer */

    .index-social{
        
        color: #99aabb;
        text-align: center;
    }
    .link-area .fa-li{
        width:40px;
        height:40px;
        border-radius:50%;
        border:solid 1px #227799;
        list-style-type:none;
        margin:5px;
        display:inline-block;
        
    }
    .index-social a{
        color:#227799;
        font-size:25px;
        display:block;
        float:left;
        padding:10px;
    }
    .index-link h3{
        text-align:center;
       color: #227799;
       text-align:left;
       
    }
    .index-link{
        /*background-color:#000;*/
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .index-link ul{
        padding:0px;
    }
    .index-link ul li{
        list-style-type:none;
    }
    .index-link ul li a{
      text-decoration:none;
      font-size:16px;
      color:#99aabb;
      display:block;
      padding:5px 0;
      text-align:left;
    }
    .index-link ul li a:hover{
         text-decoration:underline;
    }
    .copy-c{
        padding-top:15px;
    }


    /* tabs - beneficios */

    .experiencia-imagem img{
        max-width: 100%;
        margin-top: 40px;
        margin-left: 25px;
        width: 400px;
    }

    .beneficios-barra{
        background-image: linear-gradient(to right,#223344, #556677,#223344  );
    }

    .beneficios-barra h2{
        color: white;
        text-align: center;
        
    }

    .beneficios-barra p{
        color: white;
        text-align: center;
    }

    .experiencia h2 {
        color: white;
        text-transform: uppercase;
        text-align: left;
        margin-top: 40px;
        
    }

     .experiencia-topico p {
        text-align: left;
    }

    .beneficios-barra .experiencia-imagem img{
        max-width: 100%;
        height: 300px;
        width: 300px;
        margin-right: 100px;
        padding-left: -300px;
       
        
    }

    section {
        padding: 60px 0;
    }
    
    section .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        
    }

    section p{
        text-align: center;
    }
    #tabs{
        background-image: linear-gradient(to right,#223344, #556677,#223344  );
        color: #eee;
    }
    #tabs h6.section-title{
        color: #eee;
    }
    
    #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #f3f3f3;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 4px solid !important;
        font-size: 20px;
        font-weight: bold;
    }
    #tabs .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #eee;
        font-size: 20px;
    }

    